@import 'assets/styles/vars';

// /. imports

.constructor {

    &__wrapper {
        display: flex;
        flex-direction: column;
        border-radius: 6px;
        height: 100%;
        gap: 12px;
    }

    &__section {

        border-top: 1px solid transparent;

        .section {
            height: 100%;
            box-shadow: none;
            cursor: url('/assets/icons/cursor_default-icon.svg'), default;
        }
    }

    &__section.hovered {
        border-radius: 0 0 6px 6px;
        border-color: $light-blue-color;

        position: relative;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: -3px;
            width: 5px;
            height: 5px;
            background-color: $light-blue-color;
            transform: rotate(-45deg);
        }

        &::before {
            left: 0;
            right: auto;
        }

        &::after {
            right: 0;
            left: auto;
        }
    }


    &__section.empty {
        flex: 1 0 min-content;

        .section__wrapper {
            padding: 0;
        }
    }
}

.constructor.empty {
    .constructor__wrapper {

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 58px;
        background-color: $white-color;
        transition: all .25s ease-in;
        border: 2px dashed $silver-sand-color;

        &:hover {
            background-color: $alice-blue-color;
        }
    }

    .constructor__wrapper.hovered {
        background-color: $alice-blue-color;
    }
}