$dark-color: #000;
$dark-blue-color: #111827;
$white-color: #FFF;

$alice-blue-color: #F0F9FF;
$anti-flash-white-color: #F3F4F6;
$platinum-color: #E2E3E5;
$silver-sand-color: #C4C4C4;
$dark-gray-color: #4D5562;
$auro-metal-saurus-color: #6B7280;

$light-blue-color: #5D5FEF;