@import './reset';
@import './vars';

// /. imports

html {
    font-size: 14px;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: inherit;
    font-weight: 400;
    color: $dark-color;
    background-color: $white-color;
    height: 100%;
    cursor: url('/assets/icons/cursor_default-icon.svg'), default;
}

#root,
.App,
.page {
    height: 100%;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;

    &__storage {
        margin-right: 56px;

        width: 240px;
        // flex: 1 0 240px;
    }

    &__constructor {
        // flex: 0 0 243px;
        width: 243px;
        height: 480px;
    }

    &__controls {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 30px;
    }

    &__preview {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}

// /. general-styles

.storage {

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

}

.constructor {

    &__wrapper {
        border: 2px dashed $silver-sand-color;
        border-radius: 6px;
        height: 100%;
    }

    &__section {
        height: 100px;

        .section {
            height: 100%;
        }
    }
}

.constructor.empty {
    .constructor__wrapper {

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 58px;
        background-color: $white-color;
        transition: all .25s ease-in;

        &:hover {
            background-color: $alice-blue-color;
        }
    }
}