@import './reset';
@import './vars';

// /. imports

html {
    font-size: 14px;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: inherit;
    font-weight: 400;
    color: $dark-color;
    background-color: $white-color;
    height: 100%;
    cursor: url('/assets/icons/cursor_default-icon.svg'), default;
}

#root,
.App,
.page {
    height: 100%;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
}

// /. general-styles


.storage {
    flex: 0 0 240px;

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

}