@import './reset';
@import './vars';
@import './media';

// /. imports

html {
    font-size: 14px;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: inherit;
    font-weight: 400;
    color: $dark-color;
    background-color: $white-color;
    height: 100%;
    cursor: url('/assets/icons/cursor_default-icon.svg'), default;
}

#root,
.App,
.page {
    height: 100%;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    &__calculator {
        width: 240px;
        overflow: hidden;
        margin-right: 56px;
    }

    &__constructor {
        width: 243px;
        height: 480px;
    }

    &__controls {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 30px;
    }

    &__preview {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.unselectable {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}

// /. general-styles

.calculator {

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

}